body {
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 3rem;
    color: #00f;
    text-shadow: 2px 2px 5px #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #00f;
}

section {
    padding: 60px 0;
}

#portfolio {
    background-color: #444;
}

footer {
    background-color: #222;
}

footer p {
    margin: 0;
}
